<div id="<%= dom_id group %>" class="d-flex card flex-row" style="height: 5rem;">
  <img src=<%= group.icon %> alt="category icon" class="col-2 img-thumbnail" style=" width: 5rem;">
  <p class="col p-2">
    <strong>Name:</strong>
    <%= group.name %> </br>
    <strong>Total spent:</strong>
    <%= group.total_expenses %>
  </p>
</div>
