<div id="<%= dom_id group %>" class="d-flex border border-dark">
  <img src=<%= group.icon %> alt="category icon" class="col-2">
  <p class="col">
    <strong>Name:</strong>
    <%= group.name %> </br>
    <strong>Total spent:</strong>
    <%= group.total_expenses %>
  </p>
</div>
