<section class="mx-4 my-3">
  <h1>Editing <%= @group.name %></h1>

  <%= render "form", group: @group %>

  <br>

  <div>
    <%= link_to "Show this group", category_path(@group) %> |
    <%= link_to "Back to groups", categories_path %>
  </div>
</section>

