<section class="mx-4 my-3">
  <h1>New category</h1>

  <%= render "form", group: @group %>

  <br>

  <div>
    <%= link_to "Back to categories", categories_path, class: 'btn btn-secondary' %>
  </div>
</section>
