<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">BudgetApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href=<%= categories_path %>>Home</a>
        </div>
        <div class="nav-buttons ms-auto d-flex align-items-baseline">
          <% if current_user.present? %>
            <div class="mx-3 text-light">
              Welcome,
              <%= current_user.name %>
            </div>            
            <%= button_to(
              "Log Out",
              destroy_user_session_path,
              method: :delete,
              class: "btn btn-primary"
            ) %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>