<section class="mx-3 my-4">
  <h1>New expense</h1>

  <%= render "form", expense: @category_expense %>

  <br>

  <div>
    <%= link_to "Back to the category", category_expenses_path %>
  </div>
</section>
